body{
  background-color: #d0d0d0;
  margin: 0;
  padding: 0;
}

h3, p{
  margin: 0;
  padding: 0;
}
$gray: #808080;
$grayLight: #CDCDCD;
$blue: #0088EE;
.container{
  margin: 0 auto;
  width: 1240px;
}